image:
  name: itisfoundation/ci-service-integration-library:v1.0.1-dev-40
  entrypoint: ["/bin/sh", "-c"]

stages:
  - build

verify-image-build:
  image: itisfoundation/ci-service-integration-library:v1.0.1-dev-40
  tags:
    - DOCKER
    - LINUX

  stage: build
  script:
    - ooil --version
    - ooil compose
    - service docker start
    - docker info | grep "Docker Root"
    - df -h
    # - docker-compose build --quiet
    - make build
    - docker images
    - echo "DONE"
