# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Build folders
build/
deploy/

# test folders
test/

# .env files
.env

# Python
__pycache__/
.venv/
.pytest_cache/

# java
*.class

# vscode
.vscode/

# docker
.env
# temp folders
tmp/
.tmp
# gitlab
*.toml

.cache/

# not interested in storing this file
docker-compose.yml

# ignore all files in validation
validation/

*.ignore.*

## Test folder, only for local testing
Fariba_FSL_codes
Fariba_full_pipeline
Fariba_full_pipeline_rightbeforesynb0disco
Fariba_full_pipeline.zip
*.zip
Matthew_pipeline/*