services:
  jupyter-medimproc:
    ## Locally-built image
    # image: simcore/services/dynamic/jupyter-medimproc:1.3.0
    ## Remote (production) image
    image: registry.speag.com/ci/osparc-sparc-internal/main/jupyter-medimproc:1.3.0
    ports:
      - "8888:8888"
    environment:
      - DY_SIDECAR_PATH_INPUTS=/tmp/inputs
      - DY_SIDECAR_PATH_OUTPUTS=/tmp/outputs
      - DY_SIDECAR_PATH_WORKSPACE=/home/jovyan/work/workspace
      - DY_BOOT_OPTION_BOOT_MODE=0
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${PWD}/tests:/home/jovyan/work/workspace
      - ${PWD}/validation/inputs:/tmp/inputs
      - ${PWD}/validation/outputs:/tmp/outputs
      - ${PWD}/validation/workspace/README.ipynb:/home/jovyan/work/workspace/README.ipynb:ro
