name: Build and check image

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service: 
          - jupyter-freesurfer
          - jupyter-fsl-synb0
          - osparc-freesurfer
          - osparc-fsl-synb0
          - osparc-freesurfer-min
          - osparc-fsl-synb0-min
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v3
        
      - name: create new dir
        run: sudo mkdir -p /mnt/docker
        
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 4096
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          build-mount-path: "/mnt/docker"

      - name: change docker default root path
        run: |
          docker info
          docker info | grep "Docker Root"
          sudo service docker stop
          sudo sh -c 'echo "{ \"data-root\": \"/mnt/docker\" }" > /etc/docker/daemon.json'
          sudo chmod 644 /etc/docker/daemon.json
          sudo cat /etc/docker/daemon.json
          sudo service docker start
          docker info | grep "Docker Root"
          
      - name: Build ${{ matrix.service }}
        run: make build SERVICE=${{ matrix.service }}
        
      - name: Prune Docker to free space
        if: always()
        run: docker system prune -af

      - name: print docker image info
        run: docker images
