name: Build and check image

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  verify-image-build:
    runs-on: ubuntu-latest
    env:
      CI_SERVICE_INTEGRATION_LIBRARY: itisfoundation/ci-service-integration-library:v2.1.25
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v3
      - name: Pull CI service integration library
        run: docker pull ${{ env.CI_SERVICE_INTEGRATION_LIBRARY }}
      - name: ooil version
        run: docker run --rm ${{ env.CI_SERVICE_INTEGRATION_LIBRARY }} ooil --version
      - name: Assemble docker compose spec
        run: docker run --rm ${{ env.CI_SERVICE_INTEGRATION_LIBRARY }} ooil compose
      - name: create new dir
        run: sudo mkdir -p /mnt/docker
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 4096
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          build-mount-path: "/mnt/docker"

      - name: change docker default root path
        run: |
          docker info
          docker info | grep "Docker Root"
          sudo service docker stop
          sudo sh -c 'echo "{ \"data-root\": \"/mnt/docker\" }" > /etc/docker/daemon.json'
          sudo chmod 644 /etc/docker/daemon.json
          sudo cat /etc/docker/daemon.json
          sudo service docker start
          docker info | grep "Docker Root"
      - name: check disk space before image build
        run: df -h
      - name: Build all images if multiple
        run: docker run --rm ${{ env.CI_SERVICE_INTEGRATION_LIBRARY }} docker compose build
      - name: print docker image info
        run: docker images
